.users
  .container
    .row
      .col-sm-4


      .col-sm-8

        .jumbotron#registerJumbotron
          %h1
            = "Sodelujmo!"

          %p
            = "Smo skupnost, kjer pomagamo en drugemu. Včasih jaz tebi, drugič ti meni. Najdemo se preko interneta."

          %p
            =link_to "#", class: "btn btn-primary btn-lg", id: "signUpLink" do
              = "Želim postati del skupnosti"

          #loginContainer
            .login-strategies-container
              %h3= 'Hitra registracija'
              = render "oauths/strategies"

            %h3= 'Registracija z elektronsko pošto'
            = simple_form_for @user, remote: true do |f|
              = f.input :email, autofocus: true, label: false, placeholder: "Enter email"
              = f.input :password, label: false, placeholder: "Enter password"
              = f.input :password_confirmation, label: false, placeholder: "Enter password confirmation"

              = f.submit "Registriraj me!", class: "btn btn-lg btn-primary"



          :javascript
            $('#loginContainer').hide();
            $('#signUpLink').click(function() {
              $(this).hide();
              $('#loginContainer').fadeIn();
              return false;

            });
