.container
  #wrapper
    %h1= "Povej nekaj o sebi"
    .content
      = 'Iskalci pomo훾i raje zaprosijo ljudi, ki se vsaj na kratko predstavijo.'

    = simple_form_for current_user, remote: true do |f|
      = f.input :who_am_i, autofocus: true, label: 'Predstavi se v stavku ali dveh'
      = f.input :sign_up_reason, autofocus: true, label: 'Zakaj bi rad pomagal/a drugim?'
      = f.input :locations, autofocus: true, label: 'Lokacije, na katerih si pripravljen pomagati (ve훾 lokacij lo훾i z novo vrstico)'

      %button.btn.btn-primary= 'Zaklju훾i registracijo'

